/* This is the set-up for the entire web page  */
/* this section is the css properties for the index.html page */
/*  */

html{
    position: relative;
    min-height: 100%;
}
a{
    text-decoration: none;
    color: #777777;
} 
/* this tag changes the fonts and text for all heading tags */
#heading{
    font-family: Georgia, Times,'Times New Roman', serif;
}
/* changes text type and color of the body text */
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: c;
}
/* setting the header in location */
.top{
    background-color:#ffffff;
    border-bottom: 2px solid #cccccc;
}
/* this is the name tag id  */
#logo{
    background-color: #4aaaa5;
    margin-left: 8%;
    padding: 0 5px;
    color: white;
    font-size: 18px;
}

/* this is the list tag id to change text characteristics  */
.nav{
    list-style: none;
    margin-right: 11%;
}
.navbar-toggler{
    margin-right: 8%;
}
/* this eliminates the preset padding by css bootstrap */
.navbar {
    padding: 0% 0%;
}

/* this modifies the list options  */
li{
    /* this prompts the list to change in line with on another */
    display: inline-block;
    padding-top: 5px;
    padding-left: 10px;

}

.line{
    border-right: 2px solid #cccccc;
    padding-right: 10px;
}
/* this aligns the hamburger dropdown to the right side  */
.line2{
    margin-left: auto;
}

/* this is the class that keeps all contents inside the whiteboard  */
.wrap{
    width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5%;
    border: 1px solid #dddddd;
    overflow: hidden;
    height: wrap;
    margin-bottom: 70px;
    box-sizing: border-box;
    padding: 3%;
    color: #4aaaa5;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.5);
}
/* this is the class for my profile picture  */
.profile_pic{
    float: left;
    padding: 0 3%;
    padding-top: 15px;
    padding-bottom: 20px;
}
/* this is the class features for the writting inside the whiteboard */
.paragraph{
    text-align: left;
    color: #777777;
    line-height: 1.6;
    padding: 1% 3%;

}
/* this is the class features for the footer at the bottom of the page  */
.footer{
    position: absolute;
    left: 0px;
    bottom:0px;
    width: 100%;
    height: 50px;
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    color: white;
   
}
/* this is the id for the copyright text at the bottom of the page  */
#text{
    color: white;
    padding-top: 15px;
}

/*  */
/*  */
/* Below this line is the css properties for the protfoio page  */
/*  */
/*  */

/* game tags positioning and text sizing */
.appTags{
    position: relative;
    bottom: 30%;
    width: 100%;
    height: 50px;
    background-color: #4aaaa5;
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
    font-family: Georgia, Times,'Times New Roman', serif;
    
}
.reposBtn{
    position: absolute;
    margin-left: 10px;
    bottom: 0px;
    height: 42px;
    font-family: Georgia, Times,'Times New Roman', serif; 
}

/* this sets all the images position */
.apps{
    position: relative;
    height: auto;
    margin: 2% 2%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5)
}
.apps:hover {
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.5);
  }

/*  */
/*  */
/* this section below is for the contacts page  */
/*  */
/*  */

#formBtn{
    text-align: center;
    width: 150px;
    height: 40px;
    float: left;
    background-color: #4aaaa5;
    color: white;
    font-size: 20px;
}


#user-pwd{
    width: 60%;
    margin: auto;

}

#user-pwd2{
    width: 50%;
    margin: auto;
}
#names{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 20px;
    line-height: 35px;
}
  .gitBtn,
  .resumeBtn,
  .linkedBtn{
      background-color: white;
      border-radius: 50% 50%;
  }
  .links{
      text-align: center;
      
  }