html{
    position: relative;
    min-height: 100%;
    
}

#heading{
    font-family: Georgia, Times,'Times New Roman', serif;
}

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
.top{
    position: absolute;
    background-color:#ffffff;
    top: 0;
    left:0;
    width: 100%;
    border-bottom: 2px solid #cccccc;
}

#logo{
    float: left;
    background-color: #4aaaa5;
    margin-left: 195px;
    padding-left:30px;
    padding-right:30px;
    color: white;
    font-size: 18px;

}

#nav{
    float: right;
    list-style: none;
    margin-right: 195px;
    padding-top: 10px;
}

li{
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;

}

.line{
    border-right: 2px solid #cccccc;
    padding-right: 10px;
}
#wrap{
    width: 960px;
    background-color: white;
    margin-left: auto;
    margin-right:auto;
    margin-top: 110px;
    border: 1px solid #dddddd;
    overflow: hidden;
    height: wrap;
    margin-bottom: 70px;
    box-sizing: border-box;
    padding: 30px;
    color: #4aaaa5;

}

.profile_pic{
    float: left;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.paragraph{
    text-align: left;
    color: #777777;
    padding-top: 5px;
    line-height: 1.6;

}

.footer{
    position: absolute;
    left: 0px;
    bottom:0px;
    width: 100%;
    height: 50px;
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    color: white;
   
}

#text{
    color: white;
    padding-top: 15px;
}